.menu-container{
  margin:0 auto;
  padding-bottom: 100px;
  .header-img-container {
    img.header-img {
      object-position: 15% 20%;
      object-fit: cover;
      height: 550px;
      width: 100%;
    }
  }

  .button-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;

    .title{
      font-size:30px;
      color: rgb(108, 6, 45);
      font-weight: bold;
      text-align: center;
      margin-top: 20px;
      margin-bottom:20px;
    }
  }
  .img_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    row-gap:10px;
    column-gap:10px;

    .md-card {
      border-radius:10px;
      overflow: hidden;
      img{
        width: 400px;
        height: 300px;
        object-fit: cover;
      }
      .before-enter{
        opacity: 0;
        transform: rotate(180deg);
        transition: all ease-out .8s;
      }
      .enter {
        opacity: 1;
        transform: translate(0);
      }
    }
  }
}
